.NavbarItems {
  background-color: #e3c830;
  background-size: cover;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 60%;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.name {
  color: #white;
  font-size: 30px;
  font-family: "Roboto";
}

.button {
  background-color: #3252a8;
  color: #a02fa8;
  border-width: 5px;
  background-size: 300% auto;
  border-radius: 5px;
  margin-left: 40px;
}
.button:hover {
  height: 50;
  width: 50;
}

@media screen and (max-width: 768px) {
  .NavbarItems {
    position: relative;
    grid-gap: 10%;
    display: flex;
  }
  .nav-button {
    width: 50%;
    height: 100%;
  }
  .navbar-logo {
    margin-top: 10px;
    font-size: large;
  }
}
